* {
  font-family: 'Poppins';
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  overflow: hidden;
}

.container0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}